<!doctype html>
<html lang="en">

<head>
        <title> Block operations | Admin Dashboard</title
    <% include component/header %>
    <script  src="../assets/js/jquery.js"></script>
</head>
<body class="theme-orange font-montserrat">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
    </div>
</div>

<!-- Theme Setting -->


<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<div id="wrapper">
        <% include component/navbar %>
        <% include component/leftbar %>
    <div id="main-content">
                    <div class="container-fluid">
                            <div class="row clearfix">
                                    <div class="col-lg-12   col-md-12 col-sm-12">
                                        <form method="POST" action="site/add">
                                        <div class="card">
                                            <div class="body">
                                                <div class="row clearfix">
                                                    <div class="col-sm-12   ">
                                                        <div class="form-group">
                                                            <input type="text" required class="form-control" name="sitename" placeholder="Site İsmi">
                                                        </div>
                                                    </div>
                                                
                                                </div>
                                                <div class="row clearfix">
                                                    
                                                    <div class="col-sm-12">
                                                        <div class="form-group mt-3">
                                                            <textarea rows="4" required class="form-control no-resize" name="siteaddress" placeholder="Adres"></textarea>
                                                        </div>
                                                    </div>
                                                    <div class="col-sm-12">
                                                        <button type="submit" class="btn btn-primary">Kayıt et</button>
                                                        <button type="reset" class="btn btn-outline-secondary">Sıfırla</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </form>
                                    </div>
                                </div>
                            <hr>
                        <div class="block-header">
                        <div class="row clearfix">
                            <div class="col-lg-12 col-md-12">
                                <div class="table-responsive">
                                    <table class="table table-hover table-custom spacing8">
                                        <thead>
                                            <tr> 
                                                <th>#</th>
                                                <th>SİTE İSMİ</th>
                                                <th>SİTE ADRESİ</th>
                                                <th>İŞLEMLER</th>
                                            </tr>
                                        </thead>
                                        <tbody>
                                            
                                                    <% Site.forEach(function(Site){ %>
                                                        <tr>
                                                        
                                                            <td>
                                                                <div>#</div>
                                                            </td>
                                                            <td>
                                                                <%=Site.name %>
                                                            </td>
                                                            <td>
                                                                <div>
                                                                    <%=Site.address %>
                                                                </div>
                                                            </td>
                                                            <td>
                                                                <button type="button"  id="update" class="btn btn-default btn-sm" title="Edit" data-id="<%=Site.id %>" data-toggle="modal" data-target=".new-project-modal">
                                                                    <i class="fa fa-pencil"></i>
                                                                </button>
                                                                <button type="button"  id="delete" class="btn btn-default btn-sm" title="Delete" data-id="<%=Site.id %>" data-toggle="modal" data-target="#exampleModal">
                                                                    <i class="fa fa-trash-o"></i>
                                                                </button>
                                                            </td>
                                                        </tr>
                                                      <% }); %>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                
                    
    </div>
    <!--control modal-->
    <script>
        $(document).on("click", "#update", function () {
            var id=$(this).data('id');
            $("#id").val(id);
            $.ajax({
            type: 'POST',
            url: '/admin/site',
            data: 'id='+id,
            success: function(result) {
                if(result!="ok"){
                $('#sitename').val(result.name);
                $('#siteaddress').val(result.address);
                }else{
                    alert("işlem gerçekleştirilirken hata oluştu");
                }
            }
            });
    });
        $(document).on("click", "#delete", function () {$("#id").val($(this).data('id'));});
        function deletesite() {
            var Id = $('#id').val();
            alert(Id);
            $.ajax({
            type: 'POST',
            url: '/admin/site/delete',
            data: 'id='+Id,
            success: function(result) {
                if(result=="ok"){
                    $('#exampleModal').modal('toggle');
                    alert("silindi");
                    window.location.reload();
                    
                }else{
                    alert("işlem gerçekleştirilirken hata oluştu");
                }
            }
            });
        }    
        function updatesite() {
            var Id = $('#id').val();
            var siteaddress=$('#siteaddress').val();
            var sitename=$('#sitename').val();
            $.ajax({
            type: 'POST',
            url: '/admin/site/update',
            data: 'id='+Id+"&sitename"+sitename+"&siteaddress="+siteaddress,
            success: function(result) {
                if(result=="ok"){
                    $('.new-project-modal').modal('toggle');
                    alert("güncellendi");
                    window.location.reload();
                }else{
                    alert("işlem gerçekleştirilirken hata oluştu");
                }
            }
            });}  
    </script>
        <div class="modal fade new-project-modal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 class="modal-title" id="exampleModalLabel">Site bilgilerini güncelleme</h5>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="input-group mb-3">
                                    <input id="id" type="hidden" name="siteid" >
                                <input type="text" id="sitename" class="form-control" name="sitename" placeholder="site ismi">
                            </div>
                            <div class="input-group mb-3">
                                <textarea rows="4" required id="siteaddress" class="form-control no-resize" name="siteadress" placeholder="Adres"></textarea>
                            </div>
                        </div>
                        <div class="modal-footer">
                            <button type="button" class="btn btn-round btn-default" data-dismiss="modal">iptal et</button>
                            <button type="button" class="btn btn-round btn-success" onclick="updatesite()">güncelle</button>
                        </div>
                    </div>
                </div>
        </div>

        <div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
                        
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h5 class="modal-title" id="exampleModalLabel">Site silme onayı</h5>
                                        <button type="button"   class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <p>silmeyi onaylıyor musunuz?</p>
                                    </div>
                                    <div class="modal-footer">
                                        <button type="button" class="btn btn-round btn-default" data-dismiss="modal">hayır</button>
                                        <button type="button" class="btn btn-round btn-primary" onclick="deletesite();" ><a id="deletelink"   href="#"   style="color:black"> evet</a></button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>




        
<% include component/script %>
</body>
</html>

