<!doctype html>
<html lang="en">

<head>
        <title>Oculux Job | Dashboard</title
    <% include component/header %>

</head>
<body class="theme-orange font-montserrat">

<!-- Page Loader -->
<div class="page-loader-wrapper">
    <div class="loader">
        <div class="bar1"></div>
        <div class="bar2"></div>
        <div class="bar3"></div>
        <div class="bar4"></div>
        <div class="bar5"></div>
    </div>
</div>

<!-- Theme Setting -->

<!-- Overlay For Sidebars -->
<div class="overlay"></div>

<div id="wrapper">
        <% include component/navbar %>

    <% include component/leftbar %>
    <div id="main-content"></div>
    
    
</div>
<% include component/script %>
</body>
</html>

