<div id="left-sidebar" class="sidebar">
        <div class="navbar-brand">
            <a href="index.html"><img src="../assets/images/icon.svg" alt="Oculux Logo" class="img-fluid logo"><span>Oculux</span></a>
            <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i class="lnr lnr-menu icon-close"></i></button>
        </div>
        <div class="sidebar-scroll">
 
            <nav id="left-sidebar-nav" class="sidebar-nav">
                <ul id="main-menu" class="metismenu">
                   
                    <li class=""><a href="/manager"><i class="icon-home"></i><span>Home</span></a></li>
                    <li ><a href="/manager/announcement"><i class="icon-speedometer"></i><span>duyuru işlemleri</span></a></li>
                    <li><a href="/manager/apartment"><i class="icon-user"></i><span>daire islemleri</span></a></li>                    
                    <li><a href="/manager/revenue"><i class="icon-users"></i><span>Gelir işlemleri </span></a></li>
                    <li><a href="/manager/expense"><i class="icon-users"></i><span>Gider işlemleri </span></a></li>
                    <li><a href="/manager/dues"><i class="icon-equalizer"></i><span>aidat işlemleri</span></a></li>
                </ul>
            </nav>     
        </div>
    </div>