<div id="left-sidebar" class="sidebar">
        <div class="navbar-brand">
            <a href="index.html"><img src="../assets/images/icon.svg" alt="Oculux Logo" class="img-fluid logo"><span>Oculux</span></a>
            <button type="button" class="btn-toggle-offcanvas btn btn-sm float-right"><i class="lnr lnr-menu icon-close"></i></button>
        </div>
        <div class="sidebar-scroll">
            <nav id="left-sidebar-nav" class="sidebar-nav">
                <ul id="main-menu" class="metismenu">
                    
                    <li class="active open"><a href="/admin"><i class="icon-home"></i><span>Anasayfa</span></a></li>
                    <li> <a href="/admin/site"><i class="icon-speedometer"></i><span>Site işlemleri</span></a></li>
                    <li><a href="/admin/block"><i class="icon-user"></i><span>Blok işlemleri</span></a></li>                    
                    <li><a href="/admin/apartment"><i class="icon-grid"></i><span>Daire işlemler</span></a></li>
                    <li><a href="/admin/user"><i class="icon-users"></i><span>Yetki işlemleri</span></a></li>
                </ul>
            </nav>     
        </div>
    </div>